<div
  class="tab_div"
  id="the_tab_div"
  style="height: 3em; background-color: #333"
>
  <div>
    <a href="/" [className]="root_active ? 'active' : ''">Dashboard</a>
  </div>
  <div *ngIf="contact_visible">
    <a href="/contacts" [className]="contact_active ? 'active' : ''"
      >Contacts</a
    >
  </div>
  <div *ngIf="databit_visible">
    <a href="/databits" [className]="databit_active ? 'active' : ''"
      >Contacts</a
    >
  </div>
  <div *ngIf="finance_visible">
    <a href="/finances" [className]="finance_active ? 'active' : ''"
      >Finances</a
    >
  </div>
  <div *ngIf="reports_visible">
    <a href="/reports" [className]="reports_active ? 'active' : ''">Reports</a>
  </div>
  <div *ngIf="profile_active">
    <a href="/lms/user-profile" [className]="profile_active ? 'active' : ''"
      >Profile</a
    >
  </div>
  <div *ngIf="technical_active">
    <a href="/lms/technical" [className]="technical_active ? 'active' : ''"
      >Technical</a
    >
  </div>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
