<div [ngClass]="{ tab_div: true, toggled: toggled }">
  <a href="/" [ngClass]="{ active: root_active }">Dashboard</a>
  <a
    *ngIf="contact_visible"
    href="/contacts"
    [ngClass]="{ active: contact_active }"
    >Contacts</a
  >
  <a
    *ngIf="databit_visible"
    href="/databits"
    [ngClass]="{ active: databit_active }"
    >Contacts</a
  >
  <a
    *ngIf="finance_visible"
    href="/finances"
    [ngClass]="{ active: finance_active }"
    >Finances</a
  >
  <a
    *ngIf="reports_visible"
    href="/reports"
    [ngClass]="{ active: reports_active }"
    >Reports</a
  >
  <a *ngIf="admin_visible" href="/admin" [ngClass]="{ active: admin_active }"
    >Admin</a
  >
  <a
    *ngIf="profile_active"
    href="/lms/user-profile"
    [ngClass]="{ active: profile_active }"
    >Profile</a
  >
  <a
    *ngIf="technical_active"
    href="/lms/technical"
    [ngClass]="{ active: technical_active }"
    >Technical</a
  >
  <a href="javascript:void(0);" class="icon" (click)="toggleShowAll()">
    <tool-icon-span name="hamburger" />
  </a>
</div>
