.tab_div {
  display: flex;
  width: 100;
  overflow: hidden;
  background-color: #333;
}

.tab_div a {
  /* float: left;*/
  display: block;
  color: white;
  background-color: #333;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
  font-size: 17px;
}

.tab_div a:hover {
  background-color: gray;
  color: white;
}

.tab_div a.active {
  background-color: #04aa6d;
  color: white;
}

.tab_div .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .tab_div a:not(.active) {
    display: none;
  }
  .tab_div a.active {
    display: block;
  }
  .tab_div a.icon {
    display: block;
    right: 0;
    top: 0;
  }
}

@media screen and (max-width: 600px) {
  .tab_div {
    justify-content: space-between;
  }

  .tab_div.toggled {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
  }
  .tab_div.toggled .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .tab_div.toggled a {
    float: none;
    display: block;
    text-align: left;
  }
}
