<div>
  <div class="header">
    <div class="head-props">
      <div><span>User: </span> {{ userRow?.username }}</div>
      <div><span>Display name: </span> {{ userRow?.full_name }}</div>
    </div>
    <div class="hamb-menu">
      <fa-icon class="icon-buttons" [icon]="faEllipsisV"></fa-icon>
      <div class="dropdown-content">
        <a id="cmdSendInvite" (click)="onSendInvite()">Send Invite</a>
      </div>
    </div>
  </div>

  <div id="addresseslist" style="height: 400px">
    <ag-grid-angular
      style="height: 100%"
      class="ag-theme-alpine content-stack"
      [rowData]="addresses_rowData"
      [columnDefs]="addresses_columnDefs"
      [defaultColDef]="defaultColDef"
    >
    </ag-grid-angular>
  </div>

  <div id="splitlist" style="height: 400px">
    <ag-grid-angular
      style="height: 100%"
      class="ag-theme-alpine content-stack"
      [rowData]="sessions_rowData"
      [columnDefs]="sessions_columnDefs"
      [defaultColDef]="defaultColDef"
    >
    </ag-grid-angular>
  </div>
</div>
