<div class="multipane_body">
  <div
    [ngClass]="{
      search_results2_narrow: !previewPersonaId,
      search_results2_wide: previewPersonaId
    }"
    id="search_wrapper"
  >
    <form (ngSubmit)="onSearch()">
      <table class="search">
        <tr>
          <td>Search:</td>
          <td>
            <input type="text" name="contact_bit" [(ngModel)]="fragment" />
          </td>
          <td><input type="submit" value="Search" /></td>
        </tr>
      </table>
    </form>

    <div class="search_results" id="result-warning"></div>

    <div id="contact_data" style="height: 400px">
      <ag-grid-angular
        style="height: 100%"
        class="ag-theme-alpine content-stack"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        (rowClicked)="onRowClick($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div
    [ngClass]="{
      row_detail_suppressed: !previewPersonaId,
      row_detail_wide: previewPersonaId
    }"
    id="preview_detail"
  >
    <a href="#" class="search_back" id="search_back" onClick="back_to_search()"
      >&lt;&lt; Back to Search</a
    >

    <app-persona-sidebar
      *ngIf="previewPersonaId"
      [personaId]="previewPersonaId"
    ></app-persona-sidebar>
  </div>
</div>
