.multipane_body {
  overflow: hidden;
  height: 100%;
}

.search_results2_wide {
  float: left;
  width: 64%;
  margin: 5px;
}

.search_results2_narrow {
  float: left;
  width: 100%;
  margin: 5px;
}

.search_results2_suppressed {
  display: none;
}

.row_detail_wide {
  overflow: hidden;
  width: 34%;
}

.row_detail_narrow {
  overflow: hidden;
  width: 100%;
}

.row_detail_suppressed {
  display: none;
}

.search_back {
  display: none;
}

.search_back_scoop {
  margin: 15px;
}

.preview_bit {
  padding: 0.5em;
  display: flex;
  gap: 0.25em;
}

a.copy {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.bit_top_commands {
  padding: 1em;
  display: flex;
  flex-direction: row-wrap;
  gap: 1em;
}

.bit_top_commands > div {
  border: 3px;
  border-radius: 0.25em;
  border-color: green;
  white-space: nowrap;
  cursor: pointer;
}

.bit_top_commands > div > fa-icon {
  margin-right: 0.3em;
}
