<div class="multipane_body">
  <div
    [ngClass]="{
      search_list_no_preview: !previewPersonaId,
      search_list_with_preview: previewPersonaId
    }"
    id="search_wrapper"
  >
    <form (ngSubmit)="onSearch()">
      <div class="search_head">
        <div>
          Search:
          <input type="text" name="contact_bit" [(ngModel)]="fragment" />
          <input type="submit" value="Search" />
        </div>
        <div (click)="onAddPersona()" class="icon-buttons">
          <fa-icon [icon]="faCirclePlus"></fa-icon>New Contact
        </div>
      </div>
    </form>

    <div class="search_results" id="result-warning"></div>

    <div id="contact_data" style="height: 400px">
      <ag-grid-angular
        style="height: 100%"
        class="ag-theme-alpine content-stack"
        [rowData]="rowData"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
        (rowClicked)="onRowClick($event)"
      >
      </ag-grid-angular>
    </div>
  </div>

  <div
    [ngClass]="{
      persona_no_preview: !previewPersonaId,
      persona_preview: previewPersonaId
    }"
    id="preview_detail"
  >
    <a
      href
      class="search_back"
      id="search_back"
      (click)="onBackToSearch($event)"
      >&lt;&lt; Back to Search</a
    >

    <app-persona-sidebar
      *ngIf="previewPersonaId"
      [personaId]="previewPersonaId"
    ></app-persona-sidebar>
  </div>
</div>
