.multipane_body {
  overflow: hidden;
  height: 100%;
}

.search_list_no_preview {
  float: left;
  width: 100%;
  margin: 5px;
}

.search_list_with_preview {
  float: left;
  width: 64%;
  margin: 5px;
}

.persona_preview {
  overflow: hidden;
  width: 34%;
}

.persona_no_preview {
  display: none;
}

.search_head {
  width: 100%;
  margin: 0.5em;
  display: flex;
  gap: 4em;
}

.search_back {
  display: none;
}

@media screen and (max-width: 600px) {
  .search_back {
    display: block;
    margin: 0.5em;
  }

  .search_list_with_preview {
    display: none;
  }

  .persona_preview {
    width: 100%;
  }
}
