<div class="multipane_body">
  <div class="search_results2_narrow" id="search_wrapper">
    <form onsubmit="return search_submit();">
      <table class="search">
        <tr>
          <td>Search:</td>
          <td><input type="text" id="transaction_bit" /></td>
          <td><input type="submit" value="Search" /></td>
        </tr>
      </table>
    </form>

    <div class="search_results" id="result-warning"></div>

    <div class="search_results" id="transaction_data" style="width: 100%"></div>
  </div>

  <div class="row_detail_suppressed" id="preview_detail">
    <a href="#" class="search_back" id="search_back" onClick="back_to_search()"
      >&lt;&lt; Back to Search</a
    >

    <div id="preview_content"></div>
  </div>
</div>
