<div class="banner">
  <div class="banner_title">lms</div>
  <div class="banner_profile" *ngIf="isAuthenticated()">
    <img src="/api/user/me/avatar.png" width="32" height="32" />
    <div class="dropdown-content">
      <a href="/lms/user-profile" id="rtx_user_profile">Name</a>
      <div *ngIf="hasPermission('put_api_role_record')">
        <a href="/lms/technical" id="rtx_source">Technical</a>
      </div>
      <a href="#" id="rtx_logout" (click)="onUserLogout()">Logout</a>
    </div>
  </div>
  <div class="banner_roscoe" *ngIf="isAuthenticated()">
    <form onsubmit="return roscoe_submit();">
      <p>Remind me later: <input type="submit" value="Send" /></p>
      <textarea rows="2" id="roscoe_reminder"></textarea><br />
    </form>
  </div>
</div>
