<div class="banner">
	<div class="banner_title">lms</div>
	<div class="banner_profile">
		<img src="/lms-avatar.png" width="32" height="32" />
		<div class="dropdown-content">
			<a href="#" id="rtx_user_profile">Name</a>
			<a href="#" id="rtx_source">Source Code</a>
			<a href="#" id="rtx_diagnostics">Diagnostics</a>
			<a href="#" id="rtx_logout">Logout</a>
		</div>
	</div>
	<div class="banner_roscoe">
		<form onsubmit="return roscoe_submit();">
			<p>Remind me later:
			<input type="submit" value="Send" /></p>
			<textarea rows="2" id="roscoe_reminder"></textarea><br />
		</form>
	</div>
</div>
