<div class="multipane_body">
  <h3>User</h3>

  <div>
    <span class="label">Username: </span>
    <span>{{ user?.username }}</span>
  </div>

  <div>
    <span class="label">Full name: </span>
    <span>{{ user?.full_name }}</span>
  </div>

  <button (click)="onChangePassword()">Change Password</button>

  <h3>Contact Information</h3>

  <div class="icon-buttons" (click)="onNewEmail()">
    <tool-icon-span name="add" />New e-mail
  </div>

  <div class="icon-buttons" (click)="onNewPhone()">
    <tool-icon-span name="add" />New phone number
  </div>

  <div *ngFor="let addr of addresses.rows">
    <span class="label">Address: </span>{{ addr.address }}&nbsp;
    <tool-icon-span *ngIf="addr.is_primary" name="primary-marker" />
  </div>

  <h3>Security</h3>
  <div id="transaction_data" style="height: 400px">
    <span>Device Tokens</span>
    <ag-grid-angular
      style="height: 100%"
      class="ag-theme-alpine content-stack"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [defaultColDef]="defaultColDef"
    >
    </ag-grid-angular>
  </div>

  <h3>Roles</h3>
</div>
