<div class="main_content">
  <h2>Diagnostics</h2>

  <p>
    The <a href="/api/ping">ping endpoint</a> is not authenticated and is useful
    for establishing basic connectivity and latency checks.
  </p>
</div>

<div class="sources">
  The source code is at:

  <ul>
    <li>
      <a href="https://github.com/jbmohler/yenot"
        >https://github.com/jbmohler/yenot</a
      >
    </li>
    <li>
      <a href="https://github.com/jbmohler/yenot-auth"
        >https://github.com/jbmohler/yenot-auth</a
      >
    </li>
    <li>
      <a href="https://github.com/jbmohler/yenot-lmshacc"
        >https://github.com/jbmohler/yenot-lmshacc</a
      >
    </li>
    <li>
      <a href="https://github.com/jbmohler/yenot-lmscontacts"
        >https://github.com/jbmohler/yenot-lmscontacts</a
      >
    </li>
    <li>
      <a href="https://github.com/jbmohler/yenot-lmsdatabits"
        >https://github.com/jbmohler/yenot-lmsdatabits</a
      >
    </li>
    <li>
      <a href="https://github.com/jbmohler/yenot-html"
        >https://github.com/jbmohler/yenot-html</a
      >
    </li>
  </ul>
</div>
