/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-alpine.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.form-edit-dialog .mat-dialog-container {
  outline: 4px solid #04aa6d;
  border-radius: 0;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 600px) {
  .form-edit-dialog .mat-dialog-container {
    border-radius: 0.5em;
  }
}

.dialog > h1 {
  font-size: large;
  padding: 0.25em;
  margin: 0px;
  margin-bottom: 0.6em;
  background-color: #04aa6d;
  color: white;
}

.dialog > form > .buttons {
  display: flex;
  justify-content: flex-end;
}

.dialog > form > .buttons > input {
  background-color: #04aa6d;
  color: white;
  border-radius: 3px;
}
