/* You can add global styles to this file, and also import other style files */
@import "~ag-grid-community/styles//ag-grid.css";
@import "~ag-grid-community/styles//ag-theme-alpine.css";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
}

.icon-buttons {
  color: #4f7942;
  cursor: pointer;
  white-space: nowrap;
  cursor: pointer;
}

.icon-buttons > tool-icon-span {
  margin-right: 0.3em;
}

.icon-buttons:hover {
  color: #2aaa8a;
}

.form-edit-dialog .mat-mdc-dialog-container {
  outline: 4px solid #4f7942;
  border-radius: 0;
  margin: 0px;
  padding: 0px;
}

@media screen and (min-width: 600px) {
  .form-edit-dialog .mat-mdc-dialog-container {
    border-radius: 0.5em;
  }
}

.dialog > h1 {
  font-size: large;
  padding: 0.25em;
  margin: 0px;
  margin-bottom: 0.6em;
  background-color: #4f7942;
  color: white;

  display: flex;
  justify-content: space-between;
}

.dialog > form > .buttons {
  margin: 8px;
  gap: 5px;
  display: flex;
  justify-content: flex-end;
}

.dialog > form > .buttons > input {
  background-color: #4f7942;
  color: white;
  border-radius: 3px;
}

.ag-theme-alpine .ag-cell-focus {
  border-color: #4f7942;
}
.ag-theme-alpine .ag-row-hover {
  background-color: #4f7942;
}
