<div>
  <div class="blob">
    <b>Name: </b>{{ personaRow?.entity_name }}&nbsp;
    <fa-icon
      class="icon-buttons"
      [icon]="faPenToSquare"
      (click)="onEditPersona(personaRow)"
    ></fa-icon
    >&nbsp;
    <fa-icon
      class="icon-buttons"
      [icon]="faTrashCan"
      (click)="onDeletePersona(personaRow)"
    ></fa-icon>

    <div *ngIf="personaRow?.organization" class="raw-multiline">
      {{ personaRow?.organization }}
    </div>

    <div *ngIf="personaRow?.memo" class="raw-multiline">
      {{ personaRow?.memo }}
    </div>
  </div>

  <div class="bit_top_commands">
    <div class="icon-buttons" (click)="onAddBit('urls')">
      <fa-icon [icon]="faCirclePlus"></fa-icon>Web/Login
    </div>
    <div class="icon-buttons" (click)="onAddBit('email_addresses')">
      <fa-icon [icon]="faCirclePlus"></fa-icon>e-Mail
    </div>
    <div class="icon-buttons" (click)="onAddBit('phone_numbers')">
      <fa-icon [icon]="faCirclePlus"></fa-icon>Phone
    </div>
    <div class="icon-buttons" (click)="onAddBit('street_addresses')">
      <fa-icon [icon]="faCirclePlus"></fa-icon>Postal Address
    </div>
  </div>

  <div class="bit blob" *ngFor="let bit of bits.rows">
    <div style="display: flex; flex-direction: column; gap: 0.25em">
      <fa-icon
        class="icon-buttons"
        [icon]="faPenToSquare"
        (click)="onEditBit(bit)"
      ></fa-icon>
      <fa-icon
        class="icon-buttons"
        [icon]="faTrashCan"
        (click)="onDeleteBit(bit)"
      ></fa-icon>
    </div>
    <div style="display: flex; flex-direction: column; gap: 0.25em">
      <fa-icon
        class="icon-buttons"
        *ngIf="bit.bit_above"
        [icon]="faArrowUp"
        (click)="onReorderBitUp(bit)"
      ></fa-icon>
      <fa-icon
        class="icon-buttons"
        *ngIf="bit.bit_below"
        [icon]="faArrowDown"
        (click)="onReorderBitDown(bit)"
      ></fa-icon>
    </div>
    <div class="bit_data">
      <span *ngIf="bit.name || bit.is_primary"
        >{{ bit.name }}<fa-icon *ngIf="bit.is_primary" [icon]="faStar"></fa-icon
      ></span>
      <div [ngSwitch]="bit.bit_type">
        <span *ngSwitchCase="'email_addresses'">
          {{ bit.bit_data.email }}
        </span>
        <span *ngSwitchCase="'street_addresses'">
          <div class="raw-multiline">{{ formattedAddress(bit) }}</div>
        </span>
        <span *ngSwitchCase="'phone_numbers'">
          {{ bit.bit_data.number }}
        </span>
        <span *ngSwitchCase="'urls'">
          <a href="{{ bit.bit_data.url }}" target="_blank">{{
            bit.bit_data.url
          }}</a
          ><br />
          <span *ngIf="bit.bit_data.username || bit.bit_data.password">
            {{ bit.bit_data.username }}<br />
            <a class="copy" (click)="onPasswordCopy(bit)">Copy Password</a>
            <div *ngIf="bit.bit_data.pw_next_reset_dt">
              Expires {{ bit.bit_data.pw_next_reset_dt }}
            </div>
          </span>
        </span>
        <div *ngIf="bit.memo" class="raw-multiline">
          <hr />
          {{ bit.memo }}
        </div>
      </div>
    </div>
  </div>
</div>
