<div>
  <b>Name: </b>{{ personaRow?.entity_name }}
  <fa-icon [icon]="faPenToSquare" (click)="onEditPersona(personaRow)"></fa-icon>

  <div class="raw-multiline">
    {{ personaRow?.memo }}
  </div>

  <div class="bit_top_commands">
    <div (click)="onAddBit('urls')">
      <fa-icon [icon]="faCirclePlus"></fa-icon>Web/Login
    </div>
    <div (click)="onAddBit('email_addresses')">
      <fa-icon [icon]="faCirclePlus"></fa-icon>e-Mail
    </div>
    <div (click)="onAddBit('phone_numbers')">
      <fa-icon [icon]="faCirclePlus"></fa-icon>Phone
    </div>
    <div (click)="onAddBit('street_addresses')">
      <fa-icon [icon]="faCirclePlus"></fa-icon>Postal Address
    </div>
  </div>

  <div class="bit" *ngFor="let bit of bits.rows">
    <fa-icon [icon]="faPenToSquare" (click)="onEditBit(bit)"></fa-icon>
    <fa-icon [icon]="faTrashCan" (click)="onDeleteBit(bit)"></fa-icon>
    <div class="bit_data">
      <span *ngIf="bit.name || bit.is_primary"
        >{{ bit.name }}<fa-icon *ngIf="bit.is_primary" [icon]="faStar"></fa-icon
      ></span>
      <div [ngSwitch]="bit.bit_type">
        <span *ngSwitchCase="'email_addresses'">
          {{ bit.bit_data.email }}
        </span>
        <span *ngSwitchCase="'street_addresses'">
          <div class="raw-multiline">{{ formattedAddress(bit) }}</div>
        </span>
        <span *ngSwitchCase="'phone_numbers'">
          {{ bit.bit_data.number }}
        </span>
        <span *ngSwitchCase="'urls'">
          <a href="{{ bit.bit_data.url }}" target="_blank">{{
            bit.bit_data.url
          }}</a
          ><br />
          <span *ngIf="bit.bit_data.username || bit.bit_data.password">
            {{ bit.bit_data.username }}<br />
            <a class="copy" (click)="onPasswordCopy(bit)">Copy Password</a>
            <div *ngIf="bit.bit_data.pw_next_reset_dt">
              Expires {{ bit.bit_data.pw_next_reset_dt }}
            </div>
          </span>
        </span>
        <div *ngIf="bit.memo" class="raw-multiline">
          <hr />
          {{ bit.memo }}
        </div>
      </div>
    </div>
  </div>
</div>
