.blob {
  padding: 0.25em;
  margin: 0.75em;
  background: #e5e4e2;
  border-radius: 0.5em;
}

.bit {
  display: flex;
  gap: 0.25em;
}

.raw-multiline {
  white-space: pre-wrap;
}

a.copy {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.bit_top_commands {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}
