.bit {
  padding: 0.25em;
  margin: 0.75em;
  display: flex;
  gap: 0.25em;
  background: lightgray;
  border-radius: 0.5em;
}

.raw-multiline {
  white-space: pre-wrap;
}

a.copy {
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.bit_top_commands {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.bit_top_commands > div {
  border: 3px;
  border-radius: 0.25em;
  border-color: green;
  white-space: nowrap;
  cursor: pointer;
}

.bit_top_commands > div > fa-icon {
  margin-right: 0.3em;
}
