<div>
  <div class="blob">
    <b>Name: </b>{{ personaRow?.entity_name }}&nbsp;
    <tool-icon-span
      class="icon-buttons"
      *ngIf="isEditable"
      name="edit-pencil"
      (click)="onEditPersona(personaRow)"
    />&nbsp;
    <tool-icon-span
      class="icon-buttons"
      *ngIf="isEditable"
      name="delete"
      (click)="onDeletePersona(personaRow)"
    />

    <div *ngIf="personaRow?.organization" class="raw-multiline">
      {{ personaRow?.organization }}
    </div>

    <div *ngIf="personaRow?.memo" class="raw-multiline">
      {{ personaRow?.memo }}
    </div>
  </div>

  <div class="bit_top_commands">
    <div><b>Owner: </b>{{ personaRow?.owner_name }}</div>
    <div *ngIf="shares.length > 0">
      <b>Shared: </b>
      <span *ngFor="let share of shares.slice(0, shares.length > 3 ? 2 : 3)"
        >{{ share.name }};
      </span>
      <span *ngIf="shares.length > 3">+ {{ shares.length - 2 }} more</span>
    </div>
    <div
      class="icon-buttons"
      *ngIf="isEditable"
      (click)="onSelectShare(personaRow)"
    >
      <tool-icon-span name="add-person" />Share
    </div>
    <div
      class="icon-buttons"
      *ngIf="isEditable"
      (click)="onChangeOwner(personaRow)"
    >
      <tool-icon-span name="send-person" />Change Owner
    </div>
  </div>

  <div class="bit_top_commands" *ngIf="isEditable">
    <div class="icon-buttons" (click)="onAddBit('urls')">
      <tool-icon-span name="add" />Web/Login
    </div>
    <div class="icon-buttons" (click)="onAddBit('email_addresses')">
      <tool-icon-span name="add" />e-Mail
    </div>
    <div class="icon-buttons" (click)="onAddBit('phone_numbers')">
      <tool-icon-span name="add" />Phone
    </div>
    <div class="icon-buttons" (click)="onAddBit('street_addresses')">
      <tool-icon-span name="add" />Postal Address
    </div>
  </div>

  <div class="bit blob" *ngFor="let bit of bits.rows">
    <div style="display: flex; flex-direction: column; gap: 0.25em">
      <tool-icon-span
        class="icon-buttons"
        *ngIf="isEditable"
        name="edit-pencil"
        (click)="onEditBit(bit)"
      />
      <tool-icon-span
        class="icon-buttons"
        *ngIf="isEditable"
        name="delete"
        (click)="onDeleteBit(bit)"
      />
    </div>
    <div style="display: flex; flex-direction: column; gap: 0.25em">
      <tool-icon-span
        class="icon-buttons"
        *ngIf="bit.bit_above && isEditable"
        name="arrow-up"
        (click)="onReorderBitUp(bit)"
      />
      <tool-icon-span
        class="icon-buttons"
        *ngIf="bit.bit_below && isEditable"
        name="arrow-down"
        (click)="onReorderBitDown(bit)"
      />
    </div>
    <div class="bit_data">
      <span *ngIf="bit.name || bit.is_primary">
        {{ bit.name }}
        <tool-icon-span *ngIf="bit.is_primary" name="primary-marker" />
      </span>
      <div [ngSwitch]="bit.bit_type">
        <span *ngSwitchCase="'email_addresses'">
          {{ bit.bit_data.email }}
        </span>
        <span *ngSwitchCase="'street_addresses'">
          <div class="raw-multiline">{{ formattedAddress(bit) }}</div>
        </span>
        <span *ngSwitchCase="'phone_numbers'">
          {{ bit.bit_data.number }}
        </span>
        <span *ngSwitchCase="'urls'">
          <a href="{{ bit.bit_data.url }}" target="_blank">{{
            bit.bit_data.url
          }}</a
          ><br />
          <span *ngIf="bit.bit_data.username || bit.bit_data.password">
            <span>
              {{ bit.bit_data.username }}&nbsp;
              <tool-icon-span
                name="copy"
                *ngIf="bit.bit_data.username"
                (click)="onUsernameCopy(bit)"
              /> </span
            ><br />
            <a class="copy" (click)="onPasswordCopy(bit)">Copy Password</a>
            <div *ngIf="bit.bit_data.pw_next_reset_dt">
              Expires {{ bit.bit_data.pw_next_reset_dt }}
            </div>
          </span>
        </span>
        <div *ngIf="bit.memo" class="raw-multiline">
          <hr />
          {{ bit.memo }}
        </div>
      </div>
    </div>
  </div>
</div>
