<div class="dialog">
  <h1 *ngIf="reown">Give Contact Ownership</h1>
  <h1 *ngIf="reshare">Share Contact</h1>

  <form class="form">
    <div *ngIf="reown">
      Select a user to take ownership of this contact. You will not be able to
      edit or reclaim the contact after this action.
    </div>

    <div *ngIf="reshare">
      Select the users (other than yourself) who should be able to view this
      contact.
    </div>

    <div class="shares">
      <span *ngFor="let owner of owners.rows">
        <label>
          <input
            [type]="inputType"
            [checked]="reshare && shareSet.has(owner.id)"
            name="singleton"
            (click)="onToggleOwner($event, owner)"
          />
          {{ owner.name }}
        </label>
      </span>
    </div>

    <div class="buttons">
      <input type="button" (click)="onClickSave()" value="Save" />
    </div>
  </form>
</div>
