<div class="dialog">
  <h1>Edit Bit</h1>

  <form class="form" [formGroup]="bitForm">
    <div>
      <label class="label">Name: </label><input formControlName="name" />
    </div>
    <div>
      <div class="label">&nbsp;</div>
      <input type="checkbox" formControlName="is_primary" /><label
        >Primary
      </label>
    </div>

    <ng-container [ngSwitch]="bit_type">
      <ng-container *ngSwitchCase="'urls'">
        <div>
          <label class="label">URL: </label> <input formControlName="url" />
        </div>
        <div>
          <label class="label">Username:</label>
          <input formControlName="username" />
        </div>
        <div>
          <label class="label">Password:</label>
          <input formControlName="password" />
        </div>
        <div>
          <label class="label">Password Reset:</label>
          <input type="date" formControlName="pw_reset_dt" />
          <label> Expires </label>
          <input type="date" formControlName="pw_next_reset_dt" />
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'email_addresses'">
        <div>
          <label class="label">e-mail address: </label>
          <input formControlName="email" />
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'phone_numbers'">
        <div>
          <label class="label">Phone Number: </label>
          <input formControlName="number" />
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'street_addresses'">
        <div>
          <label class="label">Address:</label>
          <div
            style="
              display: inline-flex;
              width: 20em;
              gap: 0.25em;
              flex-direction: column;
            "
          >
            <span
              ><input style="width: 100%" formControlName="address1"
            /></span>
            <span
              ><input style="width: 100%" formControlName="address2"
            /></span>
            <span
              style="display: flex; gap: 0.25em; justify-content: space-between"
            >
              <input style="flex-grow: 5; width: 60%" formControlName="city" />
              <input style="flex-grow: 1; width: 20%" formControlName="state" />
              <input style="flex-grow: 2; width: 20%" formControlName="zip" />
            </span>
            <span> Country:&nbsp;<input formControlName="country" /> </span>
          </div>
        </div>
      </ng-container>
    </ng-container>

    <div>
      <label class="label">Memo:</label>
      <textarea cols="40" rows="5" formControlName="memo"></textarea>
    </div>

    <div class="buttons">
      <input type="submit" (click)="onClickSave()" value="Save" />
    </div>
  </form>
</div>
